<div class="team-dashboard">
  <div class="team-description">
    <div class="team-course">
      <h1><%= @team.course.title %></h1>
      <p>Data is everywhere. That means more companies are tracking, analyzing, and using the insights they find to make better decisions. In this Skill Path, you’ll learn the fundamentals of data analysis while building Python skills. </p>
      <div class="team-meeting">
        <div>
          <p><%= @team.duration%> hours each <%= @team.day_of_the_week %></p>
        </div>
      </div>
    </div>
    <div id="team-participants">
        <% @team.users.each do |user| %>
          <span class="list-inline-item list-inline-item-color-<%= (user.id % 4) + 1 %>"><%= cl_image_tag user.photo.key %></span>
        <% end %>
    </div>
  </div>
</div>

