<div class="dashboard-container">
<div class="courses-list">
  <h3>My Courses</h3>
  <% @teams.each do |t| %>
  <% team = t.team %>

  <div class="course-card">
                  <%= link_to dashboard_path(team) , :action => 'go' do %>

    <div class="top-course">
      <p class="teams-meeting"><strong><%= team.start_date.strftime('%A') %>s</strong> @ <strong><%= team.start_date.strftime('%l:%M%P') %></strong>, <strong><%= team.duration %> hour<%= 's' if team.duration != 1 %></strong></p>
      <p class ="post-cat"><%= team.course.category %> </p>
    </div>
    <h3 class="post-text"><%= team.course.title %> on <%= team.course.platform.capitalize %></h3>
            <div id="team-participants">
        <% team.users.each do |user| %>
          <span><%= cl_image_tag user.photo.key %></span>
        <% end %>
      </div>
          <% end %>

    </div>
  <% end %>
</div>

<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <div class="meeting">
        <p><%= meeting.name %></p>
        <% both_meridians = meeting.start_time.hour < 12 && meeting.end_time > 12 %>
        <% meeting_time = "#{meeting.start_time.strftime('%l:%M').strip}#{'am' if both_meridians}-#{meeting.end_time.strftime('%l:%M%P').strip}" %>
        <small><%= meeting_time %></small>
      </div>
    <% end %>
  <% end %>
</div>

</div>

