<div class="courses-container">

<ul>
  <% @courses.each do |course| %>

      <span class="post">
            <%= link_to new_questionnaire_path(course)do %>

      <li>

        <div class="post-top">
          <p class ="post-cat"><%= course.category %> </p>
<!--           <%= link_to ('<i  class="fas fa-external-link-alt"></i>').html_safe, course.url, target: :_blank , style: 'color:#DBF1C5'%>
 -->
        </div>
        <h3 class="post-text"><%= course.title %> on <%= course.platform.capitalize %></h3>
      </li>
        <% end %>

    </span>
  <% end %>
</ul>

</div>
