<!DOCTYPE html>
<html>
  <head>
    <title>Educity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
<!--     <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    <div id="page-container">
      <%= render 'shared/navbar' %>
      <div id="main-content">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <div class="footer">
        <%= render 'shared/footer' %>
      </div>
  </div>
  </body>
</html>
