<!DOCTYPE html>
<html>
  <head>
    <title>Educity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&family=Rosario:wght@400;700&display=swap');
  </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="page-container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div id="main-content"><%= yield %></div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
